@charset "UTF-8";
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  margin: 0;
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  border: 0;
}

.main {
  font-family: "Roboto";
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.solution {
  padding-top: 210px;
  padding-bottom: 210px;
}

.Advantages {
  padding-top: 94px;
}

.img {
  padding-top: 106px;
  padding-bottom: 94px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.header-portfolio {
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
  padding-bottom: 25px;
  padding-top: 24px;
  text-decoration: none;
  margin-right: 93px;
}

.header-mail:hover .header-contact {
  color: #2196F3;
}

.header-mail:hover .header-icon {
  fill: #2196F3;
}

.header-mail:hover .header-icon-2 {
  fill: #2196F3;
}

.header-span {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover::after {
  opacity: 1;
}

.header-portfolio-border {
  border-radius: 2px;
  background: #2196F3;
  width: 100%;
  height: 4px;
  content: "";
  display: block;
  position: absolute;
  bottom: -31px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-hover-2 {
  color: #2196F3;
}

.header-link-hover {
  color: #2196F3;
}

.header-link::after {
  border-radius: 2px;
  background: #2196F3;
  width: 100%;
  height: 4px;
  content: "";
  display: block;
  position: absolute;
  bottom: -31px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-border {
  border-radius: 2px;
  background: #2196F3;
  width: 100%;
  height: 4px;
  content: "";
  display: block;
  position: absolute;
  bottom: -31px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item {
  position: relative;
}

.header-link:hover {
  color: #2196F3;
}

.header-icon-2 {
  fill: #757575;
  margin-right: 10px;
  width: 16px;
  height: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon {
  fill: #757575;
  margin-right: 10px;
  width: 10px;
  height: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link {
  text-decoration: none;
}

.header-list {
  display: flex;
  gap: 32px;
  align-items: center;
}

.header-list-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-mail {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail:hover {
  color: #2196F3;
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  font-family: "Roboto";
}

.header-nav {
  display: flex;
}

.header-list2 {
  display: flex;
  gap: 32px;
  align-items: center;
  margin-left: auto;
  justify-content: flex-end;
}

.div-box {
  height: 1px;
  background: #ECECEC;
}

.Advantages-details {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.Advantages-consideration {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.Advantages-list {
  display: flex;
  gap: 30px;
}

.Advantages-item::before {
  content: "";
  background-image: url(../img/antenna.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 270px;
  height: 120px;
  display: block;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.Advantages-item:nth-child(2)::before {
  content: "";
  background-image: url(../img/clock.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 270px;
  height: 120px;
  display: block;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.Advantages-item:nth-child(3)::before {
  content: "";
  background-image: url(../img/diagram.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 270px;
  height: 120px;
  display: block;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.Advantages-item:nth-child(4)::before {
  content: "";
  background-image: url(../img/astronaut.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 270px;
  height: 120px;
  display: block;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.Advantages-details {
  padding-top: 30px;
}

.Appendices-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.Appendices {
  padding-top: 94px;
  padding-bottom: 50px;
}

.Appendices-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #F5F4FA;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 25px;
  padding-right: 25px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.Appendices-button:hover {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.footer {
  background: #2F303A;
}

.footer-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.footer-span {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-adres {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 20px;
  width: 231px;
  height: 21px;
  flex-shrink: 0;
}

.footer-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-top: 9px;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-box {
  padding-left: 70px;
}

.footer-container {
  display: flex;
}

.footer-mail:hover {
  color: #2196F3;
}

.footer-title-icon {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 12px;
}

.footer-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #FFFFFF;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.footer-list {
  display: flex;
  gap: 10px;
}

.footer-item {
  border-radius: 100%;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item:hover {
  background-color: #2196F3;
}

.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.div-container-footer {
  display: flex;
  flex-direction: column;
}

.footer-mailing {
  margin-left: 93px;
}

.mailing-box {
  display: flex;
  gap: 12px;
}

.mailing-icon {
  fill: #FFF;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.mailing-title {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.mailing-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 358px;
  height: 50px;
  flex-shrink: 0;
  padding-left: 16px;
}

.mailing-button {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 62px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.icon-link:hover {
  border-radius: 50%;
  background-color: #2196F3;
}

.icon-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-box {
  margin-top: -28px;
  padding-bottom: 30px;
}

.icon-company {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-text {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 50px;
}

.icon-company:hover {
  fill: #2196F3;
}

.icon-item:hover {
  border: 1px solid #2196F3;
}

.icon-item:hover .icon-company {
  fill: #2196F3;
}

.icon-item {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list {
  display: flex;
  gap: 30px;
  padding-bottom: 94px;
}

.img-text {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
}

.img-box {
  width: 370px;
  height: 70px;
  flex-shrink: 0;
  background: rgba(47, 48, 58, 0.8);
  position: relative;
  bottom: 70px;
}

.img-list {
  display: flex;
  gap: 30px;
}

.img-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  transform: scale(0);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #FFF;
  transform: scale(1) rotate(360deg);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-top: 8px;
}

.modal-input {
  width: 448px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 30px;
  padding-left: 42px;
  margin-left: 41px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover {
  border-radius: 4px;
  border: 1px solid #2196F3;
}

.modal-comment {
  width: 448px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 28px;
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  margin-left: 20px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:hover {
  border-radius: 4px;
  border: 1px solid #2196F3;
}

.modal-item:hover .modal-icon-name {
  fill: #2196F3;
}

.modal-item:hover .modal-icon-phone {
  fill: #2196F3;
}

.modal-item:hover .modal-icon-email {
  fill: #2196F3;
}

.modal-label {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 4px;
  margin-left: 41px;
}

.modal-label-comment {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 4px;
  margin-left: 20px;
}

.modal-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-сonditions {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  text-align: center;
  padding-top: 20px;
}

.modal-button {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #188CE8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
  margin-bottom: 40px;
}

.modal-button-svg {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  background-color: #FFF;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  position: relative;
  left: 490px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  fill: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close:hover {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  fill: #2196F3;
}

.modal-checkbox {
  width: 16px;
  height: 15px;
  flex-shrink: 0;
  display: block;
  margin-top: 25px;
  margin-right: 8px;
}

.modal-box {
  display: flex;
  justify-content: center;
}

.modal-icon-name {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  position: relative;
  right: 439px;
  top: 2px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-phone {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  position: relative;
  right: 439px;
  top: 2px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-email {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  position: relative;
  right: 439px;
  top: 2px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.сonditions-link {
  color: #2196F3;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.solution {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-backround.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.solution-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}

.solution-button {
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.team-item {
  background: #FFF;
}

.team-Igor {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
}

.team-text-box {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 30px;
  margin-top: 10px;
}

.team-Olga {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-Mykola {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-Mikhailo {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover .team-icon {
  fill: #FFFFFF;
}

.team {
  background: #F5F4FA;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.Technocrak-item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.Technocrak-item {
  border: 1px solid #EEE;
  width: 370px;
  flex-shrink: 0;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.Technocrack-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.Technocrak {
  padding-bottom: 94px;
}

.Technocrack-text-box {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 87;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 4px;
}

.box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  transform: translateX(-100%);
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms ease-in-out;
}

.box:hover .overlay {
  transform: translateY(0);
}

.overlay-text {
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
}

.Technocrak-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.Technocrak-div {
  padding-left: 24px;
  padding-bottom: 20px;
}/*# sourceMappingURL=main.css.map */