h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  margin: 0;
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  border: 0;
}

.main {
  font-family: "Roboto";
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.solution {
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .solution {
    padding-top: 210px;
    padding-bottom: 210px;
  }
}

.Advantages {
  padding-top: 94px;
}

.img {
  padding-top: 106px;
  padding-bottom: 94px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 768px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.header .header-item {
  margin-right: 15px;
}
@media screen and (min-width: 1200px) {
  .header .header-item {
    margin-right: 0;
  }
}
.header .header-menu {
  width: 40px;
  height: 40px;
  fill: #000000;
  margin-top: 10px;
  margin-left: auto;
  background-color: white;
}
@media screen and (min-width: 768px) {
  .header .header-menu {
    display: none;
  }
}
.header .header-icon-open {
  width: 40px;
  height: 40px;
  fill: #000000;
}
.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
  padding-bottom: 16px;
  padding-top: 16px;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
    padding-bottom: 26px;
    padding-top: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
    font-size: 26px;
    padding-bottom: 25px;
    padding-top: 24px;
  }
}
.header__mail {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.28px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__mail:hover .header__contact {
  color: #2196F3;
}
.header__mail:hover .header__icon {
  color: #2196F3;
}
.header__mail:hover .header__icon-2 {
  color: #2196F3;
}
.header__mail:hover {
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .header__mail {
    font-size: 16px;
  }
}
.header__span {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .header__span {
    font-size: 26px;
  }
}
.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.header__link:hover::after {
  opacity: 1;
}
.header__link::after {
  border-radius: 2px;
  background: #2196F3;
  width: 100%;
  height: 4px;
  content: "";
  display: block;
  position: absolute;
  bottom: -31px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link__link-hover__2 {
  color: #2196F3;
}
.header__link__link__hover {
  color: #2196F3;
}
.header__link:hover {
  color: #2196F3;
}
.header__portfolio__border {
  border-radius: 2px;
  background: #2196F3;
  width: 100%;
  height: 4px;
  content: "";
  display: block;
  position: absolute;
  bottom: -31px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link__border {
  border-radius: 2px;
  background: #2196F3;
  width: 100%;
  height: 4px;
  content: "";
  display: block;
  position: absolute;
  bottom: -31px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__item {
  position: relative;
}
.header__icon__2 {
  fill: #757575;
  margin-right: 8px;
  width: 14px;
  height: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .header__icon__2 {
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }
}
.header__icon {
  fill: #757575;
  margin-right: 8px;
  width: 10px;
  height: 14px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .header__icon {
    margin-right: 10px;
    height: 16px;
  }
}
.header__list {
  display: none;
  gap: 32px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    gap: 32px;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    display: flex;
    gap: 32px;
    align-items: center;
  }
}
.header__tel {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  font-family: "Roboto";
}
@media screen and (min-width: 1200px) {
  .header__tel {
    font-size: 14px;
  }
}
.header__nav {
  display: flex;
}
.header__list2 {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__list2 {
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list2 {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-left: auto;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.div-box {
  height: 1px;
  background: #ececec;
}

.is-open {
  opacity: 0;
  pointer-events: none;
}

.header-svg {
  width: 40px;
  height: 40px;
  fill: #000;
}

.mobile {
  overflow-y: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.0392156863), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
  padding-bottom: 48px;
  padding-top: 48px;
}
.mobile__icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  position: relative;
  left: 425px;
}
.mobile__button {
  background-color: #fff;
}
.mobile__company {
  display: flex;
  gap: 20px;
  margin-left: 40px;
  margin-top: 64px;
}
.mobile__company__text {
  color: #2196f3;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.36px;
}
.mobile__box {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 306px;
}
.mobile__list {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mobile__box__text {
  color: #212121;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.8px;
}
.mobile__box__text:hover {
  color: #2196f3;
}
.mobile .mobile-tel {
  color: #2196f3;
  font-family: Roboto;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 0.68px;
  width: 100%;
}
.mobile__mail {
  color: #757575;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.appendices {
  padding-top: 60px;
  padding-bottom: 80px;
}
@media screen and (min-width: 480px) {
  .appendices {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .appendices {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .appendices {
    padding-top: 94px;
    padding-bottom: 48px;
  }
}
.appendices__list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  height: 91px;
}
@media screen and (min-width: 768px) {
  .appendices__list {
    justify-content: center;
    width: auto;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 768px) {
  .appendices__list {
    gap: 30px;
  }
}
.appendices__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  width: 100%;
  height: 38px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .appendices__button {
    padding-right: 25px;
    padding-left: 25px;
  }
}
.appendices__button:hover {
  background-color: #2196F3;
  color: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.technocrak {
  padding-bottom: 94px;
}
.technocrak__text-box {
  font-size: 16px;
  line-height: 1.18;
  text-align: unset;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
}
.technocrak__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.technocrak__item {
  border: 1px solid #eee;
  width: 100%;
  max-width: 450px;
  flex-shrink: 0;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.technocrak__item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) {
  .technocrak__item {
    width: 354px;
  }
}
.technocrak__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .technocrak__list {
    justify-content: unset;
  }
}
@media screen and (min-width: 1200px) {
  .technocrak__list {
    justify-content: center;
  }
}
.technocrak__div {
  margin-left: 24px;
  margin-bottom: 20px;
}
.technocrak .box {
  position: relative;
  overflow: hidden;
}
.technocrak .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  transform: translateX(-100%);
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms ease-in-out;
}
.technocrak .box:hover .overlay {
  transform: translateY(0);
}
.technocrak .overlay-text {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
}

.footer {
  background: #2f303a;
}
.footer__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__title {
    font-size: 26px;
    text-align: unset;
  }
}
.footer__span {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer__span {
    font-size: 26px;
  }
}
.footer__adres {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  margin-top: 20px;
  flex-shrink: 0;
  display: block;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__adres {
    text-align: unset;
    margin-left: 0;
    margin-right: 0;
    width: 231px;
  }
}
.footer__mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-top: 9px;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__mail:hover {
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .footer__mail {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__box {
    margin-bottom: 102px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    margin-bottom: 0;
  }
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    flex-wrap: nowrap;
    align-items: center;
  }
}
.footer__title__icon {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__title__icon {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title__icon {
    text-align: unset;
    margin-top: 0;
  }
}
.footer__icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: #ffffff;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.footer__list {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.footer__item {
  border-radius: 100%;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__item:hover {
  background-color: #2196F3;
}
.footer__tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: block;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__tel {
    text-align: unset;
    margin-left: 0;
    margin-right: 0;
  }
}
.footer__div__container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__div__container {
    margin-right: 124px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__div__container {
    text-align: unset;
  }
}
.footer .mailing {
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer .mailing {
    padding-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer .mailing {
    margin-left: 93px;
  }
}
.footer .mailing__box {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .footer .mailing__box {
    flex-wrap: nowrap;
  }
}
.footer .mailing__icon {
  display: flex;
  gap: 12px;
}
.footer .mailing__title {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer .mailing__title {
    text-align: unset;
    padding-top: 0;
  }
}
.footer .mailing__input {
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 450px;
  height: 50px;
  flex-shrink: 0;
  padding-left: 16px;
}
@media screen and (min-width: 1200px) {
  .footer .mailing__input {
    width: 358px;
  }
}
.footer .mailing__button {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 62px;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .footer .mailing__button {
    margin-left: 0;
    margin-right: 0;
  }
}/*# sourceMappingURL=portfolio.css.map */