.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    padding-bottom: 25px;
    padding-top: 24px;
    text-decoration: none;
    margin-right: 93px;
}

.header-mail:hover .header-contact {
    color: #2196F3;
}

.header-mail:hover .header-icon {
    fill: #2196F3;
}

.header-mail:hover .header-icon-2 {
    fill: #2196F3;
}

.header-span {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover::after {
opacity: 1;
}

.header-portfolio-border {
    border-radius: 2px;
    background: #2196F3;
    width: 100%;
    height: 4px;
    content: "";
    display: block;
    position: absolute;
    bottom: -31px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-hover-2 {
    color: #2196F3;
}
.header-link-hover {
    color: #2196F3;
}
.header-link::after {
    border-radius: 2px;
background: #2196F3;
width: 100%;
height: 4px;
content: "";
display: block;
position: absolute;
bottom: -31px;
opacity: 0;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link-border {
    border-radius: 2px;
background: #2196F3;
width: 100%;
height: 4px;
content: "";
display: block;
position: absolute;
bottom: -31px;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.header-item{
    position: relative;
  } 
.header-link:hover {
    color: #2196F3;
}
.header-icon-2 {
    fill: #757575;
    margin-right: 10px;
    width: 16px;
    height: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon {
    fill: #757575;
    margin-right: 10px;
    width: 10px;
    height: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link {
    text-decoration: none;
}

.header-list {
    display: flex;
    gap: 32px;
    align-items: center;
}
.header-list-2 {
    display: flex;
    align-items: center;
    justify-content: center;
} 
.header-mail {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail:hover {
    color: #2196F3;
}

.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    font-family: 'Roboto';
}

.header-nav {
    display: flex;

}

.header-list2 {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-left: auto;
    justify-content: flex-end;
}

.div-box {
    height: 1px;
    background: #ECECEC;
}
