.icon {
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
  }
  &__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      border-radius: 50%;
      background-color: $accent-color;
    }
  }

  &__box {
    margin-top: -28px;
    padding-bottom: 30px;
  }

  &__company {
    width: 106px;
    height: 60px;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__text {
    color: $title-color;
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 30px;
    @media screen and (min-width: 1200px) {
      font-size: 36px;
      padding-top: 94px;
    padding-bottom: 50px;
    }
  }

  &__item {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      border: 1px solid $accent-color;
    }
    &:hover .icon__company {
      fill: $accent-color;
    }
  }

  .icon__company:hover {
    fill: $accent-color;
  }
  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding-bottom: 60px;
    justify-content: center;
    @media screen and (min-width: 1200px) {
      padding-bottom: 94px;
    }
  }
}
