.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}


.icon-link:hover {
    border-radius: 50%;
    background-color: #2196F3;
}

.icon-link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-box {
    margin-top: -28px;
    padding-bottom: 30px;
}


.icon-company {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-text {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
    padding-bottom: 50px;
}
    
.icon-company:hover {
    fill: #2196F3;
}

.icon-item:hover {
    border: 1px solid #2196F3;
}

.icon-item:hover .icon-company {
    fill: #2196F3;
}

.icon-item {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list {
    display: flex;
    gap: 30px;
    padding-bottom: 94px;
}