.technocrak {
  padding-bottom: 94px;

  &__text-box {
    @include text($text-align: unset);
    padding-top: 4px;
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: $title-color;
  }
  &__item {
    border: 1px solid #eee;
    width: 100%;
    max-width: 450px;
    flex-shrink: 0;
    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }
    @media screen and (min-width: 768px) {
      width: 354px;
    }
  }

  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 768px) {
      justify-content: unset;
    }
    @media screen and (min-width: 1200px) {
      justify-content: center;
    }
  }
  &__div {
    padding-left: 24px;
    padding-bottom: 20px;
  }
  .box {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 294px;
    transform: translateX(-100%);
    background: rgba(33, 150, 243, 0.9);
    transition: transform 250ms ease-in-out;
  }
  .box:hover .overlay {
    transform: translateY(0);
  }
  .overlay-text {
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
