.header {
  &__logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $accent-color;
    padding-bottom: 25px;
    padding-top: 24px;
    text-decoration: none;
    margin-right: 93px;
  }
  &__mail {
    color: $text-color;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover .header__contact {
      color: $accent-color;
    }
    &:hover .header__icon {
      color: $accent-color;
    }
    &:hover .header__icon-2 {
      color: $accent-color;
    }
    &:hover {
      color: $accent-color;
    }
  }

  &__span {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $title-color000;
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $title-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    &:hover::after {
      opacity: 1;
    }
    &::after {
      border-radius: 2px;
      background: $accent-color;
      width: 100%;
      height: 4px;
      content: "";
      display: block;
      position: absolute;
      bottom: -31px;
      opacity: 0;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__link-hover__2 {
      color: $accent-color;
    }
    &__link__hover {
      color: $accent-color;
    }
    &:hover {
      color: $accent-color;
    }
  }

  &__portfolio__border {
    border-radius: 2px;
    background: $accent-color;
    width: 100%;
    height: 4px;
    content: "";
    display: block;
    position: absolute;
    bottom: -31px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link__border {
    border-radius: 2px;
    background: $accent-color;
    width: 100%;
    height: 4px;
    content: "";
    display: block;
    position: absolute;
    bottom: -31px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item {
    position: relative;
  }
  &__icon__2 {
    fill: $text-color;
    margin-right: 10px;
    width: 16px;
    height: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon {
    fill: $text-color;
    margin-right: 10px;
    width: 10px;
    height: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__list {
    display: flex;
    gap: 32px;
    align-items: center;
  }
  &__list-2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $text-color;
    text-decoration: none;
    font-family: "Roboto";
  }

  &__nav {
    display: flex;
  }

  &__list2 {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-left: auto;
    justify-content: flex-end;
  }

  &__div__box {
    height: 1px;
    background: #ececec;
  }
}
