.main {
  font-family: "Roboto";
}
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
      max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
      max-width: 1200px;
  }
 
}

.solution {
  padding-top: 210px;
  padding-bottom: 210px;
}

.Advantages {
  padding-top: 94px;
}

.img {
  padding-top: 106px;
  padding-bottom: 94px;
}
.team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
