.main {
    font-family: 'Roboto';
}
.container {
    width: 1200px;
    margin: 0 auto;
   
    
padding-left: 15px;
padding-right: 15px;
}



.solution {
    padding-top: 210px;
    padding-bottom: 210px;
}

.Advantages {
    padding-top: 94px;
    
}

.img {
padding-top: 106px;
padding-bottom: 94px;
}
.team {
    padding-top: 94px;
padding-bottom: 94px;
}
.footer {
    padding-top: 60px;
padding-bottom: 60px;
}
.header-portfolio {
        padding-top: 32px;
padding-bottom: 32px;
    }   
.footer-portfolio {
    padding-top: 60px;
padding-bottom: 60px;
}