h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    margin: 0;
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}
button {
    border: 0;
}


// .technocrak {
//     padding-bottom: 94px;
//     &__item {
//         border: 1px solid #EEE;
//         width: 370px;
//         flex-shrink: 0;
//         transition-property:  background-color, box-shadow;
//         transition-duration: 250ms;
//         transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//         &:hover {
//             box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
//         }
//     }
//     &__title {
//         font-weight: 700;
//         font-size: 18px;
//         line-height: 36px;
//         letter-spacing: 0.06em;
//         color: #212121;
//     }
//     &__text-box {
//         font-weight: 400;
//         font-size: 16px;
//         line-height: 1, 87;
//         letter-spacing: 0.03em;
//         color: #757575;
//         padding-top: 4px;
//     }
//     &__list {
//         display: flex;
//         gap: 30px;
//         flex-wrap: wrap;
//         justify-content: center;
//     }
//     &__div {
//         padding-left: 24px;
//     padding-bottom: 20px;
//     }
// }

// .box {
//     position: relative;
//     overflow: hidden;
// }
// .overlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 370px;
//     height: 294px;
//     transform: translateX(-100%);
//     background: rgba(33, 150, 243, 0.90);
//     transition: transform 250ms ease-in-out;
// }
// .box:hover .overlay {
//     transform: translateY(0);
//   }
// .overlay-text {
//     color: #FFF;
// font-family: Roboto;
// font-size: 18px;
// font-style: normal;
// font-weight: 400;
// line-height: 28px; 
// letter-spacing: 0.54px;
// padding-top: 63px;
// padding-bottom: 63px;
// padding-left: 24px;
// padding-right: 24px;
// }
// 




// <section class="technocrak">
//         <div class="container">
//           <ul class="technocrack__list">
//             <li class="technocrack__item">
//               <div class="box">
//                 <img class="technocrack__img" src="./img/img1.jpg" alt />
//                 <div class="overlay">
//                   <p class="overlay-text">
//                     Ресурс пропонує комплексні пропозиції з різним рівнем
//                     функціоналу та сервісів. Все це дозволить відвідувачу
//                     отримати вичерпні відомості про компанію чи приватну особу.
//                   </p>
//                 </div>
              
//               <div class="technocrack__div">
//                 <h2 class="technocrack__title">Технокряк</h2>
//                 <p class="technocrack__text-box">Веб-сайт</p>
//               </div>
//             </div>
//             </li>
//             <li class="technocrack__item">
//               <div class="box">
//                 <img class="technocrack__img" src="./img/img2.jpg" alt />
//                 <div class="overlay">
//                   <p class="overlay-text">
//                     Ресурс пропонує комплексні пропозиції з різним рівнем
//                     функціоналу та сервісів. Все це дозволить відвідувачу
//                     отримати вичерпні відомості про компанію чи приватну особу.
//                   </p>
//                 </div>
              
//               <div class="technocrack__div">
//                 <h2 class="technocrack__title">
//                   Постер New Orlean vs Golden Star
//                 </h2>
//                 <p class="technocrack__text-box">Дизайн</p>
//               </div>
//             </div>
//             </li>
//             <li class="technocrack__item">
//               <div class="box">
//                 <img class="technocrack__img" src="./img/img3.jpg" alt />
//                 <div class="overlay">
//                   <p class="overlay-text">
//                     Ресурс пропонує комплексні пропозиції з різним рівнем
//                     функціоналу та сервісів. Все це дозволить відвідувачу
//                     отримати вичерпні відомості про компанію чи приватну особу.
//                   </p>
                
//               </div>
//               <div class="technocrack__div">
//                 <h2 class="technocrack__title">Ресторан Seafood</h2>
//                 <p class="technocrack__text-box">Додаток</p>
//               </div>
//             </div>
//             </li>
//             <li data-aos="fade-right" class="technocrack__item">
//               <div class="box">
//                 <img class="technocrack__img" src="./img/img4.jpg" alt />
//                 <div class="overlay">
//                   <p class="overlay-text">
//                     Ресурс пропонує комплексні пропозиції з різним рівнем
//                     функціоналу та сервісів. Все це дозволить відвідувачу
//                     отримати вичерпні відомості про компанію чи приватну особу.
//                   </p>
//                 </div>
              
//               <div class="technocrack__div">
//                 <h2 class="technocrack__title">Проєкт Prime</h2>
//                 <p class="technocrack__text-box">Маркетинг</p>
//               </div>
//             </div>
//             </li>
//             <li data-aos="fade-down" class="technocrack__item">
//               <div class="box">
//                 <img class="technocrack__img" src="./img/img5.jpg" alt />
//                 <div class="overlay">
//                   <p class="overlay-text">
//                     Ресурс пропонує комплексні пропозиції з різним рівнем
//                     функціоналу та сервісів. Все це дозволить відвідувачу
//                     отримати вичерпні відомості про компанію чи приватну особу.
//                   </p>
//                 </div>
//               <div class="technocrack__div">
//                 <h2 class="technocrack__title">Проєкт Boxes</h2>
//                 <p class="technocrack__text-box">Додаток</p>
//               </div>
//             </li>
//             <li data-aos="fade-left" class="technocrack__item">
//               <div class="box">
//                 <img class="technocrack__img" src="./img/img6.jpg" alt />
//                 <div class="overlay">
//                   <p class="overlay-text">
//                     Ресурс пропонує комплексні пропозиції з різним рівнем
//                     функціоналу та сервісів. Все це дозволить відвідувачу
//                     отримати вичерпні відомості про компанію чи приватну особу.
//                   </p>
//                 </div>
//               <div class="technocrack__div">
//                 <h2 class="technocrack__title">Inspiration has no Borders</h2>
//                 <p class="technocrack__text-box">Веб-сайт</p>
//               </div>
//             </li>
//             <li data-aos="fade-right" data-aos-duration="1500" class="technocrack__item">
//               <div class="box">
//                 <img class="technocrack__img" src="./img/img7.jpg" alt />
//                 <div class="overlay">
//                   <p class="overlay-text">
//                     Ресурс пропонує комплексні пропозиції з різним рівнем
//                     функціоналу та сервісів. Все це дозволить відвідувачу
//                     отримати вичерпні відомості про компанію чи приватну особу.
//                   </p>
//                 </div>
//               <div class="technocrack__div">
//                 <h2 class="technocrack__title">Видання Limited Edition</h2>
//                 <p class="technocrack__text-box">Дизайн</p>
//               </div>
//             </li>
//             <li data-aos="fade-down" data-aos-duration="1500" class="technocrack__item">
//               <div class="box">
//                 <img class="technocrack__img" src="./img/img8.jpg" alt />
//                 <div class="overlay">
//                   <p class="overlay-text">
//                     Ресурс пропонує комплексні пропозиції з різним рівнем
//                     функціоналу та сервісів. Все це дозволить відвідувачу
//                     отримати вичерпні відомості про компанію чи приватну особу.
//                   </p>
//                 </div>
//               <div class="technocrack__div">
//                 <h2 class="technocrack__title">Проєкт LAB</h2>
//                 <p class="technocrack__text-box">Маркетинг</p>
//               </div>
//             </li>
//             <li  data-aos="fade-left" data-aos-duration="1500" class="technocrack__item">
//               <div class="box">
//                 <img class="technocrack__img" src="./img/img9.jpg" alt />
//                 <div class="overlay">
//                   <p class="overlay-text">
//                     Ресурс пропонує комплексні пропозиції з різним рівнем
//                     функціоналу та сервісів. Все це дозволить відвідувачу
//                     отримати вичерпні відомості про компанію чи приватну особу.
//                   </p>
//                 </div>
//               <div class="technocrack__div">
//                 <h2 class="technocrack__title">Growing Business</h2>
//                 <p class="technocrack__text-box">Додаток</p>
//               </div>
//             </li>
//           </ul>
//         </div>
//       </section>